@font-face {
    font-family: 'ocr_bregular';
    src: url('/fonts/OCR-B-webfont.eot');
    src: url('/fonts/OCR-B-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/OCR-B-webfont.woff') format('woff'),
         url('/fonts/OCR-B-webfont.ttf') format('truetype'),
         url('/fonts/OCR-B-webfont.svg#ocr_bregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
